@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --imgWidth: 250px;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 20px;
    background: #eee;
    transition: 100ms;
}

button,
.button {
    display: flex;
    margin: auto;
    background: #fafbfc;
    border: 1px solid #1b1f2326;
    color: #24292E;
    border-radius: 5px;
    font-size: 14px;
    padding: 6px 16px;
    box-shadow: #1b1f230a 0 1px 0, #ffffff40 0 1px 0 inset;
    font-family: "Poppins";
    cursor: pointer;
    transition: 200ms;
}

button:hover,
.button:hover {
    background: #f3f4f6;
}

button:disabled,
.button:disabled {
    background: #fafbfc;
    color: #959da5;
    cursor: not-allowed;
}

button:disabled:hover,
.button:disabled:hover {
    background: #fafbfc;
}

button:active:hover,
.button:active:hover {
    background: #fafbfc;
}

button:active,
.button:active {
    background: #edeff2;
    box-shadow: #e1e4e833 0 1px 0 inset;
}

button:focus,
.button:focus {
    outline: 1px transparent;
}

#topbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    font-family: "Poppins";
}

#search {
    display: flex;
    align-items: center;
    text-align: center;
}

#search_input {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    background: #f2f2f2;
    border: solid black 1px;
    color: #646464;
    padding: 11px 16px;
    border-radius: 30px;
    width: 50vw;
    transition: 200ms;
    margin-right: -32px;
}

#search_input:hover,
#search_input:focus {
    box-shadow: 0 0 8px #00000020;
}

#search_input:focus {
    outline: none;
    background: #f0eeee;
}

#search_input::-webkit-input-placeholder {
    color: #ccc;
}

#search_input:focus+.search_button {
    background: #f0eeee;
}

#search_button {
    border: none;
    box-shadow: none;
    background: transparent;
    margin-top: 1.6px;
    padding-right: 1.6px;
}

#search_button:hover {
    cursor: pointer;
}

#search_icon {
    height: 18px;
    width: 18px;
    fill: #b4b4b4;
    transform: translateX(-15px) translateY(5px);
    transition: 150ms;
}

#search_icon:hover {
    fill: #000;
}

#content {
    margin: 15px;
    padding: 15px;
    width: calc(100% - 60px);
    border-radius: 30px;
    box-shadow: #959da533 0px 8px 24px;
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    place-content: center;
}

.img_column {
    width: var(--imgWidth);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    width: calc(var(--imgWidth) - 10);
    height: 200px;
    padding: 5px;
    border-radius: 30px;
    box-shadow: #0000001a 0px 4px 12px;
    object-fit: cover;
    transition: 200ms;
}

.card:hover {
    box-shadow: none;
    filter: brightness(0.75);
}

.image {
    border-radius: 30px;
    width: 100%;
    cursor: pointer;
}

#popup,
#modal {
    width: 100vw;
    height: 100vh;
    background: #0000001a;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#popup_content {
    display: flex;
    padding: 20px;
    width: calc(90% - 40px);
    height: calc(95% - 40px);
    min-width: 375px;
    background: #eee;
    border-radius: 20px;
    gap: 20px;

}

#popup_image {
    width: 50%;
}

#big_image {
    width: 100%;
    border: 1px dashed #000;
    border-radius: 20px;
}

#info {
    width: 50%;
}

#title {
    text-decoration: underline;
}

#tags {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}

tag {
    background: #ddf4ff;
    color: #0969df;
    border-radius: 15px;
    padding: 5px;
    font-size: 11px;
    transition: 200ms;
    user-select: none;
    cursor: pointer;
}

tag:hover {
    background: #0969da;
    color: #fff;
}

#date {
    color: #999;
}

#share_doge {
    position: absolute;
    bottom: 50px;
}

#exit_popup {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
    height: 30px;
    cursor: pointer;
    user-select: none;
    transition: 100ms;
}

#exit_popup:hover {
    transform: scale(1.25);
}

body::-webkit-scrollbar {
    width: 0px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #555;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 550px) {
    #popup_content {
        width: 100%;
        height: 100%;
    }
}